
@model IEnumerable<ProjectAppLibrary.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>All recipes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelofDifficulty)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.PictureURL" style="height:128px;" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelofDifficulty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |

            </td>
            >
        </tr>
        }
    </tbody>
</table>
