
@model IEnumerable<ProjectAppLibrary.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PictureURL" style="height:128px;" />
                
                    @Html.DisplayFor(modelItem => item.PictureURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuisine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })|
                    @Html.ActionLink("Add Recipe", "CreateRecipe", new { foodID = item.ID })
                    @Html.ActionLink("View Recipes", "ViewRecipes", new { id = item.ID })
                    @Html.ActionLink("Add Restaurant", "CreateRestaurant", new { foodID = item.ID })
                    @Html.ActionLink("View Restaurants", "ViewRestaurants", new { id = item.ID })


                </td>
            </tr>
        }
    </tbody>
</table>
