
@model IEnumerable<ProjectAppLibrary.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<h1>@ViewBag.FoodName Recipes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelofDifficulty)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.PictureURL" style="height:128px;" />
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelofDifficulty)
            </td>
            >
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Food">Back to All Foods</a>
</div>
<div>
    <a asp-action="Index" asp-controller="Recipe">View all recipes</a>
</div>