@model IEnumerable<ProjectAppLibrary.Models.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants with @ViewBag.FoodName dishes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameofDish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ratings)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.PictureURL" style="height:128px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureURL)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofDish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ratings)
            </td>
            
        </tr>
        }
    </tbody>
</table>
